body
{
	font-family:		Helvetica,Arial,sans-serif;
	color:				#4a4a4a;
	background:			white;
}

hr
{
	border:				1px solid #d7d7d7;
	border-left:		1px solid white;
	border-right:		1px solid white;
	height:				1px;
	border-top:			0;
	margin-top:			0.5em;
	margin-bottom:		0.5em;
}

h2
{
	font-size:			1.2em;
	text-align:			center;
	font-weight:		normal;
}

input
{
	display:			block;
	margin:				1em;
	border-radius:		3px;
	border:				1px solid #d7d7d7;
	justify-content:	space-around;
	padding:			0.8em;
}

#b_search
{
	margin-left:		auto;
	margin-right:		auto;
	background:			#438de0;
	color:				#fff;
	border:				0;
	border-radius:		3px;
	cursor:				pointer;
}

img
{
	display:			block;
	margin:				auto;
	cursor:				pointer;
}
